<h1 class="page-title">Currently Reading</h1>
<hr />

<ul>
  <li><%= link_to 'Ruby Science', 'https://thoughtbot.com/ruby-science-sample.pdf' %></li>
  <li><%= link_to 'Metaprogramming 2', 'http://www.amazon.com/Metaprogramming-Ruby-Program-Like-Facets-ebook/dp/B00N9I0RMQ/ref=sr_1_1?ie=UTF8&qid=1435755490&sr=8-1&keywords=metaprogramming+2+ruby' %></li>
  <li><%= link_to 'The C Programming Language', 'http://www.amazon.com/Programming-Language-Brian-W-Kernighan/dp/0131103628/ref=sr_1_1?ie=UTF8&qid=1435755460&sr=8-1&keywords=C' %></li>
  <li><%= link_to 'The Little Schemer', 'http://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992/ref=sr_1_1?ie=UTF8&qid=1435755381&sr=8-1&keywords=the+little+schemer' %> </li>
  <li><%= link_to 'The Fountainhead', 'http://www.amazon.com/The-Fountainhead-Ayn-Rand/dp/0451191153' %> </li>
  <li><%= link_to 'Smashing Book 5: Real-life Responsive Web Design', 'https://shop.smashingmagazine.com/products/smashing-book-5-real-life-responsive-web-design' %> </li>
</ul>

<h2>2014</h2>
<ul>
  <li>How To Master the Art of Selling - Tom Hopkins</li>
  <li>The 17 Principles of Personal Achievement - Napoleon Hill</li>
  <li>The Tao of Twitter - Mark w. Schaefer</li>
  <li>Crush It! - Gary Vaynerchuk</li>
  <li>Jab, Jab, Jab, RIGHT HOOK - Gary Vaynerchuk</li>
  <li>NEEDS TO BE UPDATED</li>
</ul>

<h2>2013</h2>
<ul>
  <li>The little black book of connections - Jeffrey Gitomer</li>
  <li>The 15 Laws of Growth - John Maxwell</li>
  <li>YES! Attitude - Jeffrey Gitomer</li>
  <li>It's Not All About Me - Robin Dreeke</li>
  <li>Leadership 2.0 - Bradberry & Greeves</li>
  <li>The E-Myth - Michael Gerber</li>
  <li>The Magic of Thinking Big - David Schwartz</li>
  <li>Mastery - Robert Greene</li>
  <li>How to be a straight A student- Cal Newport</li>
  <li>The little book of leadership - Jeffrey Gitomer</li>
  <li>What Every Body is Saying - Joe Navarro</li>
  <li>Power Questions - Andrew Sobel & Jerold Panas</li>
  <li>Twelve Pillars - Jim Rohn (2x)</li>
  <li>The Five Major Pieces to the Life Puzzle - Jim Rohn</li>
  <li>The Seasons of Life - Jim Rohn</li>
  <li>7 Habits of highly effective people - Stephen Covey</li>
  <li>New Sales. Simplified. - Mike Weinberg</li>
  <li>Losing My Virginity - Richard Branson</li>
  <li>Lessons on Life - Jim Rohn</li>
  <li>Tuesdays With Morrie - Mitch Albom</li>
  <li>The Greatest Salesman in the World - Og Mandino</li>
  <li>Secrets of the Millionaire Mind - T. Harv Ecker</li>
  <li>7 Strategies for Wealth and Happiness - Jim Rohn</li>
  <li>Failing Forward - John Maxwell</li>
  <li>The Greatest Salesman in the World - Part 2 - Og Mandino</li>
  <li>Dont Sweat The Small Stuff - Richard Carlson</li>
  <li>The leader who had no title - Robin Sharma</li>
  <li>Love is the killer app - Tim Sanders</li>
  <li>The Ultimate Sales Machine - Chet Holmes</li>
  <li>No Excuses - Brian Tracy</li>
  <li>How to Win Friends and Influence People - Dale Carnegie (2x)</li>
  <li>The Alchemist - Paulo Coelho</li>
  <li>Fish! - Stephen C. Lundin</li>
  <li>Straight Line Leadership - Dusan Djukich</li>
  <li>Becoming A Person Of Influence - John Maxwell</li>
  <li>360 Degree Leader - John Maxwell</li>
  <li>The One Minute Manager - Spencer Johnson</li>
  <li>Leadership 101 - John Maxwell</li>
  <li>Say This, Not That - Dave Durand</li>
  <li>Primal Leadership - Daniel Goleman</li>
  <li>Strenghts Finder 2.0 - Tom Rath</li>
  <li>The CVI Handbook - Taylor</li>
  <li>Co-Active Coaching - House, Sandahl, Whitworth</li>
  <li>The One Thing - Gary Keller</li>
  <li>The Enemies of Excellence - Greg Salciccioli</li>
  <li>Constructive Living - David Reynolds</li>
  <li>The Acorn Principle - Jim Cathcart</li>
  <li>Influence - Robert Cialdini</li>
  <li>Learned Optimism - Martin Seligman</li>
  <li>Go for No! - Richard Fenton and Andrea Waltz</li>
  <li>High Trust Selling - Todd Duncan</li>
  <li>Cha-Ching - Jeffrey Gittomer</li>
  <li>The Miracle Morning - Hal Elrod (2x)</li>
  <li>Taking Life Head On - Hal Elrod</li>
  <li>The 5 levels of Leadership - John Maxwell</li>
  <li>Maximum Achievement - Brain Tracey (2x)</li>
  <li>The 5 Love Languages - Gary Chapman</li>
  <li>The One Thing - Gary Keller (2x)</li>
  <li>100 Ways To Improve Your Writing - Gary Provost</li>
  <li>Freedom From The Known - Krishnamurti</li>
  <li>The Decision Book - Michael Krogerus & Roman Tschappeler</li>
  <li>The Magic of Believing - Claude M. Bristol</li>
</ul>
