---
pageable: true
per_page: 10
---
<h1 class="page-title">Articles</h1>
<hr />
<ul class="blog-posts">
  <% page_articles.each do |article| %>
    <li>
      <small class="publish-date"> <%= article.date.strftime("%B %d, %Y") %></small>
      <h2 class="post-title"><%= link_to article.title, article %></h3>
      <div class="post-tags">
        <i class="fa fa-tags"></i>
        <% article.tags.each do |tag| %>
          <%= link_to(tag, tag_path(tag), class: "post-tag")%>
        <% end %>
      </div>
      <p class="post-summary"><%= article.summary %></p>
      <% link_to(article, class: "keep-reading") do %>
        Keep Reading
        <i class="fa fa-long-arrow-right"></i>
      <% end %>
    <hr class="post-separator" />
    </li>
  <% end %>
</ul>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
