<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Spencer Dixon<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>

  </head>
  <body>
    <div class="wrapper">
      <aside>
        <%= partial "partials/nav" %>
      </aside>

      <article>
        <%= yield %>
      </article>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"> </script>
  </body>
</html>
